- name: cloning dotfiles to import terminal settings
  git:
    repo: 'https://github.com/JohnVonNeumann/dotfiles.git'
    dest: /home/lw/dotfiles

- name: creating terminator config directory
  file:
    path: ~/.config/terminator
    state: directory
    owner: lw
    group: lw

- name: copying terminator dotfiles into the relevant config file locations
  copy:
    src: /home/lw/dotfiles/.config/terminator/config
    dest: /home/lw/.config/terminator
    owner: lw
    group: lw

- name: creating vimplug directory
  file: 
    path: ~/.vim/autoload
    state: directory
    owner: lw
    group: lw

- name: installing vimplug
  get_url:
    url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    dest: /home/lw/.vim/autoload/plug.vim

- name: copying vimrc files to config vim
  copy:
    src: /home/lw/dotfiles/.vimrc
    dest: /home/lw
    owner: lw
    group: lw
